{% extends 'course/components/base.html' %}
{% block site_title %} About | TU Quota {% endblock %}
{% block content %}
    <h2> About </h2>
    <p> เว็บไซต์นี้มีหน้าที่ให้บริการขอโควต้าวิชาที่มีให้เลือกลงได้ในตอนนี้ </p>
    <div class ="video-container"></div>
     <div class = "video">
        <h2> วิธีใช้งาน </h2>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sa2JCQ1Dils?si=8WwDEaKRAXRn_eh7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>
    </div>
{% endblock %}
