{% extends 'course/components/base.html' %}

{% block site_title %}Login | TU Quota {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">Login</h3>
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-field">
        <button class="button button-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}