{% extends 'course/components/base.html' %}
<title>Dashboard | TU Quota</title>

{% block content %}
<div>
    Hello, {{ user.username }}
    <a href="{% url 'password_change' %}">Change Password</a>
</div>


<h2>Your Enrolled Courses:</h2>

{% if enrolled_courses %}
    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Withdraw</th>
        </tr>
        {% for course in enrolled_courses %}
        <tr>
            <td>{{ course.course_code }}</td>
            <td>{{ course.course_name }}</td>
            <td>
                <form method="POST" action="{% url 'unenroll_from_course' course.course_code %}">
                    {% csrf_token %}
                    <button type="submit">Withdraw</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You have not enrolled in any courses yet.</p>
{% endif %}

{% endblock %}
