{% extends 'course/components/base.html' %}

{% block site_title %}Register - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow form-container">
    <h3 class="content-title">Register</h3>
    <form action="{% url 'register' %}" method="POST" class="register-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-field">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
      </div>
      <div class="form-field">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password1.errors }}
      </div>
      <div class="form-field">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {{ form.password2.errors }}
      </div>
      <div class="form-field">
        <button class="button button-primary" type="submit">Register</button>
      </div>
      <p class="login-link">
        <a href="{% url 'login' %}" class="no-underline">Login</a>
      </p>
    </form>
  </div>
</section>
{% endblock %}